{% extends 'base.html.twig' %}

{% block body %}
    <h1>Книги</h1>

    {% if searchForm is defined %}
    <div class="mt-3 mb-3">
        {{ form_start(searchForm, {attr: {class: 'form-inline form-search'}}) }}

            {{ form_row(searchForm.genre) }}

            {{ form_row(searchForm.author) }}

            <button type="submit" class="btn btn-light mb-2">Поиск</button>

        {{ form_end(searchForm) }}
    </div>
    {% endif %}

    <p>
        <i>Будут показаны последние добавленные 10 книг</i>
    </p>

    {{ include('book/table.html.twig', {books: books}) }}

    {% if is_granted('book_create') %}
        <a class="btn btn-success" href="{{ path('book_new') }}">Добавить книгу</a>
    {% endif %}

{% endblock %}
